# BankApp Helm Chart Values
replicaCount: 2

image:
  repository: arsalananwer0/bankapp-eks
  pullPolicy: IfNotPresent
  tag: "v1"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: "bankapp"

serviceAccount:
  create: true
  automount: true
  annotations: {}
  name: ""

podAnnotations: {}
podLabels:
  app: bankapp

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 8080

ingress:
  enabled: false

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 512Mi

livenessProbe:
  httpGet:
    path: /
    port: 8080
  initialDelaySeconds: 60
  periodSeconds: 10

readinessProbe:
  httpGet:
    path: /
    port: 8080
  initialDelaySeconds: 30
  periodSeconds: 10

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 40

# Environment variables
env:
  - name: SPRING_DATASOURCE_URL
    value: "jdbc:mysql://mysql-svc:3306/BankDB?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true"
  - name: SPRING_DATASOURCE_USERNAME
    value: "root"
  - name: SPRING_DATASOURCE_PASSWORD
    value: "Test@123"
  - name: SPRING_JPA_HIBERNATE_DDL_AUTO
    value: "update"

nodeSelector: {}
tolerations: []
affinity: {}
